body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-size: 1.5;
  font-weight: 900;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #ffffff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 100;
  /* Align text in dropdown menu to right, no discernable change in spread nav bar  */
  text-align: right;
}

/* Download Buttons */
.download-btn {
  margin: 5% 4% 5% 0;
}

/* Title Image */

.iphone-mockup {
  margin: 3rem;
  position: absolute;
  right: 20%;
  transform: rotate(20deg);
  width: 25%;
}

/* Features */

#features {
  background-color: #ffffff;
  padding: 7% 15%;
  position: relative;
}

.feature {
  padding: 5%;
  text-align: center;
}

.icon {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1.25rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
  color: #ffffff;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  margin-bottom: 5%;
  text-align: center;
}

.press-image {
  margin: 20px 20px 50px;
  width: 80%;
}

/* Pricing */

#pricing {
  text-align: center;
}

/* Call to Action */

#cta {
  background-color: #ff4c68;
  color: #ffffff;
  padding: 7% 15%;
  text-align: center;
}

/* Footer */

#footer {
  padding: 7% 15%;
  text-align: center;
}

.footer-icon {
  margin: 2%;
}

@media (max-width: 1028px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  #title {
    text-align: center;
    margin: auto;
  }

  .iphone-mockup {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
