body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-header {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-header {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.feature-title {
  font-size: 1.5;
  font-weight: 700;
  line-height: 1.5;
}

/* Sections */

.container-fluid {
  padding: 9% 15%;
}

#title .container-fluid {
  text-align: left;
  padding: 3% 15% 9%;
}

.primary-color {
  background-color: #ff4c68;
  color: #ffffff;
}
.secondary-color {
  background-color: #ffffff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.25rem;
  font-weight: 100;
  /* Align text in dropdown menu to right, no discernable change in spread nav bar  */
  text-align: right;
}

/* Download Buttons */
.download-btn {
  margin: 5% 4% 5% 0;
}

/* Title Image */

.iphone-mockup {
  margin: 0 3rem;
  position: absolute;
  right: 15%;
  transform: rotate(15deg);
  width: max-content;
}

/* Features */

#features {
  position: relative;
}

.icon {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1.25rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

#testimonials {
  background-color: #ef8172;
}
.testimonial-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}
.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

#press {
  background-color: #ef8172;
  margin-bottom: 5%;
}

.press-image {
  margin: 20px 20px 50px;
  width: 80%;
}

/* Pricing */

.pricing-title {
  font-size: 1.5;
  font-weight: 700;
  line-height: 1.5;
}

.pricing-text {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

/* Footer */

.footer-icon {
  margin: 2%;
}

@media (max-width: 1028px) {
  .big-header {
    font-size: 3rem;
  }

  .pricing-text,
  .section-header,
  .testimonial-text {
    font-size: 1.75rem;
  }

  #title > .container-fluid {
    text-align: center;
  }

  .iphone-mockup {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}
